p{
    color: rgb(59, 30, 30)
}

.um{
    color: rgb(39, 36, 31);
    background-color: rgb(136, 135, 135);
}

.três{
    color: rgb(133, 0, 0);
    background-color: rgb(151, 151, 151);
}

.dois{
    color: rgb(38, 38, 41);
    background-color: rgb(151, 151, 151);
}

#titulo{
    color: rgb(145, 145, 145);
    background-color: black;
    border: 2px solid rgb(114, 0, 0);
}