header{
    background-color: aqua;
}

.banner{
    width: 100%;
}

.container{
    width: 80%;
    background-color: brown;
    margin: auto;
}

footer{
    background-color: greenyellow;
    width: 100%;
}